<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <title>欢迎来到首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
            <!--                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
            <!--                <span class="sr-only">Toggle navigation</span>-->
            <!--                <span class="icon-bar"></span>-->
            <!--                <span class="icon-bar"></span>-->
            <!--                <span class="icon-bar"></span>-->
            <!--            </button>-->
            <a class="navbar-brand" href="/">码匠社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--            <ul class="nav navbar-nav">-->
            <!--                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
            <!--                <li><a href="#">Link</a></li>-->
            <!--                <li class="dropdown">-->
            <!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
            <!--                       aria-expanded="false">Dropdown <span class="caret"></span></a>-->
            <!--                    <ul class="dropdown-menu">-->
            <!--                        <li><a href="#">Action</a></li>-->
            <!--                        <li><a href="#">Another action</a></li>-->
            <!--                        <li><a href="#">Something else here</a></li>-->
            <!--                        <li role="separator" class="divider"></li>-->
            <!--                        <li><a href="#">Separated link</a></li>-->
            <!--                        <li role="separator" class="divider"></li>-->
            <!--                        <li><a href="#">One more separated link</a></li>-->
            <!--                    </ul>-->
            <!--                </li>-->
            <!--            </ul>-->
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/publish">发布</a>
                </li>
                <li th:if="${session.user == null}"><a
                        href="https://github.com/login/oauth/authorize?client_id=51734dc35fdb684ad67e&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true" th:text="${session.user.name}">我 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发起</h2>
            <hr/>
            <div class="media" th:each="question : ${pagination.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" th:src="${question.user.avatarUrl}" alt="...">
                    </a>
                </div>
                <div class="media-body text-desc" >
                    <span th:text="${question.title}"></span>
                    <br/>
                    <span>
                        <span th:text="${question.commentCount}"></span>
                        个回复 。
                        <span th:text="${question.viewCount}"></span>
                        次浏览
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:SS ')}"</span>

                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page -1 })}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page} ? 'active' : ''">
                        <a th:href="@{/(page=${page})}"  th:text="${page}">
                        </a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page + 1 })}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage })}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
            HandlerMapping : Adding welcome page template: index
            2019-11-02 13:20:46.948 INFO 7220 --- [ restartedMain] o.s.b.d.a.OptionalLiveReloadServer : LiveReload
            server is running on port 35729
            2019-11-02 13:20:47.043 INFO 7220 --- [ restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer : Tomcat
            started on port(s): 8887 (http) with context path ''
            2019-11-02 13:20:47.049 INFO 7220 --- [ restartedMain] l.m.community.CommunityApplication : Started
            CommunityApplication in 7.506 seconds (JVM running for 9.966)
            2019-11-02 15:06:48.941 INFO 7220 --- [ Thread-11] o.s.s.concurrent.ThreadPoolTaskExecutor : Shutting
            down ExecutorService 'applicationTaskExecutor'
            2019-11-02 15:06:48.942 INFO 7220 --- [ Thread-11] com.zaxxer.hikari.HikariDataSource : HikariPool-1 -
            Shutdown initiated...
        </div>
    </div>


</div>

</body>
</html>